#testHangman {
    position: relative;
    height: 250px;
    width: 300px;

    display: flex;
    justify-content: center;
}

#hangmantest1 {
    position: absolute;
    width: 300px;
    height: 5px;
    border-radius: 4px;
    bottom: 0;

    background: #819880;
}

#hangmantest2 {
    position: absolute;
    width: 5px;
    height: 250px;
    border-radius: 4px;
    bottom: 0;

    background: #819880;
}

.center{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

#hangmantxest3 {
    position: absolute;
    width: 200px;
    margin-left: 50px;
    height: 5px;
    border-radius: 4px;
    bottom: 245px;

    background: #819880;
}

#hangmantxest4 {
    position: absolute;
    width: 5px;
    height: 35px;
    border-radius: 4px;
    bottom: 210px;
    margin-left: 150px;


    background: #819880;
    border-radius: 0;
}

#hangmantxest5 {
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 190px;
    margin-left: 150px;


    border-radius: 50px;
    background: #819880;
    /*background: red;*/
}

#hangmantxest6 {
    position: absolute;
    width: 5px;
    height: 25px;
    bottom: 165px;
    margin-left: 150px;

    background: #819880;
    /*background: red;*/
}

#hangmantxest7 {
    position: absolute;
    width: 40px;
    height: 5px;
    bottom: 165px;
    margin-left: 125px;

    background: #819880;
    /*background: red;*/
}

#hangmantxest8 {
    position: absolute;
    width: 40px;
    height: 5px;
    bottom: 165px;
    margin-left: 185px;

    background: #819880;
    /*background: red;*/
}

#hangmantxest9 {
    position: absolute;
    width: 5px;
    height: 40px;
    bottom: 125px;
    margin-left: 150px;

    background: #819880;
    /*background: red;*/
}

#hangmantxest9bis {
    position: absolute;
    width: 40px;
    height: 5px;
    bottom: 125px;
    margin-left: 185px;

    /*background: #1c1c1c;*/
    background: black;
}

#hangmantxest9bis {
    position: absolute;
    width: 30px;
    height: 5px;
    bottom: 125px;
    margin-left: 185px;

    background: #819880;
    /*background: black;*/
}

#hangmantxest10 {
    position: absolute;
    width: 30px;
    height: 5px;
    bottom: 125px;
    margin-left: 125px;

    background: #819880;
    /*background: black;*/
}