<h1>Hello, {{.Name}}!</h1>

<form id="inputArea" method="POST" action="/">
    <input class="input" id="inputLetter" placeholder="Your letter / word" name="test">
    <input class="input" id="inputSubmit" value="" type="submit">
</form>
